<footer>
    <div class="container footer">
        <div class="footer-right-section">
            <p> صفحه اصلی</p>
            <p> درباره</p>
            <p>تماس با ما</p>
            <p>آدرس</p>
        </div>
        <div class="footer-left-section">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>
    </div>
</footer>
<div class="copy-right">
    <p>تمامی حقوق برای امیر محفوظ است</p>
</div>